.header{

background-color: darkolivegreen;
font-family: 'Racing Sans One', cursive;
padding: 30px;
margin: 20px;
margin-right: 0px;
margin-left: -1px;
height: 60px;
margin-top: -1px;
text-shadow: 1px  bisque;
text-align: center;
border-bottom: 5px solid #FFDCAE;

}